users
fabric-ca-client-config.yaml

msp/keystore
msp/signcerts
msp/tlscacerts
msp/user
msp/config.yaml
msp/issuerPublickey
msp/issuerRevocationPublicKey

orderers/etcdraft-orderer/tls/keystore
orderers/etcdraft-orderer/tls/signcerts
orderers/etcdraft-orderer/tls/user
orderers/etcdraft-orderer/tls/ca.crt
orderers/etcdraft-orderer/tls/issuerPublickey
orderers/etcdraft-orderer/tls/issuerRevocationPublicKey
orderers/etcdraft-orderer/tls/server.crt
orderers/etcdraft-orderer/tls/server.key

orderers/etcdraft-orderer/msp/keystore
orderers/etcdraft-orderer/msp/signcerts
orderers/etcdraft-orderer/msp/user
orderers/etcdraft-orderer/msp/config.yaml
orderers/etcdraft-orderer/msp/issuerPublickey
orderers/etcdraft-orderer/msp/issuerRevocationPublicKey





